body {
    margin      : 0;
    padding     : 0;
    font-family : sans-serif;
}

.signin {
    max-width : 400px;
    margin    : 50px auto;
}

.signup {
    max-width : 400px;
    margin    : 50px auto;
}

.signout {
    margin    : 150px auto;
    max-width : 400px;

}